USE [master]
GO
/****** Object:  Database [db2]    Script Date: 1/22/2026 3:37:25 PM ******/
CREATE DATABASE [db2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\db2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\db2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db2]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 1/22/2026 3:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customer_id] [int] NOT NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[phone] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[street] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[state] [varchar](50) NULL,
	[zip_code] [decimal](18, 0) NULL,
 CONSTRAINT [PK_customers] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers_backup]    Script Date: 1/22/2026 3:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers_backup](
	[customer_id] [int] NOT NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[phone] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[street] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[state] [varchar](50) NULL,
	[zip_code] [decimal](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 1/22/2026 3:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[order_id] [int] NOT NULL,
	[item_id] [int] NULL,
	[product_id] [int] NULL,
	[quality] [int] NULL,
	[list_price] [decimal](18, 3) NULL,
	[discount] [decimal](18, 0) NULL,
 CONSTRAINT [PK_order_items] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 1/22/2026 3:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [int] NULL,
	[customer_id] [int] NULL,
	[order_status] [varchar](50) NULL,
	[order_date] [date] NULL,
	[required_date] [date] NULL,
	[shipped_date] [date] NULL,
	[store_id] [int] NULL,
	[staff_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staffs]    Script Date: 1/22/2026 3:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staffs](
	[staff_id] [int] NOT NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[phone] [varchar](50) NULL,
	[actice] [varchar](50) NULL,
	[store_id] [int] NULL,
	[manager_id] [int] NULL,
 CONSTRAINT [PK_staffs] PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stores]    Script Date: 1/22/2026 3:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stores](
	[store_id] [int] NOT NULL,
	[store_name] [varchar](50) NULL,
	[phone] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[street] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[state] [varchar](50) NULL,
	[ziip_code] [varchar](50) NULL,
 CONSTRAINT [PK_stores] PRIMARY KEY CLUSTERED 
(
	[store_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[customers] ([customer_id], [first_name], [last_name], [phone], [email], [street], [city], [state], [zip_code]) VALUES (1, N'Anuska', N'Palit', N'9876543210', N'anuska@gmail.com', N'MG Road', N'Kolkata', N'WB', CAST(700001 AS Decimal(18, 0)))
INSERT [dbo].[customers] ([customer_id], [first_name], [last_name], [phone], [email], [street], [city], [state], [zip_code]) VALUES (2, N'Rohit', N'Sharma', N'9123456780', N'rohit@gmail.com', N'Link Road', N'Mumbai', N'MH', CAST(400001 AS Decimal(18, 0)))
INSERT [dbo].[customers] ([customer_id], [first_name], [last_name], [phone], [email], [street], [city], [state], [zip_code]) VALUES (3, N'Priya', N'Singh', N'9988776655', N'priya@gmail.com', N'Civil Lines', N'Delhi', N'DL', CAST(110001 AS Decimal(18, 0)))
GO
INSERT [dbo].[customers_backup] ([customer_id], [first_name], [last_name], [phone], [email], [street], [city], [state], [zip_code]) VALUES (1, N'Anuska', N'Palit', N'9876543210', N'anuska@gmail.com', N'MG Road', N'Kolkata', N'WB', CAST(700001 AS Decimal(18, 0)))
INSERT [dbo].[customers_backup] ([customer_id], [first_name], [last_name], [phone], [email], [street], [city], [state], [zip_code]) VALUES (2, N'Rohit', N'Sharma', N'9123456780', N'rohit@gmail.com', N'Link Road', N'Mumbai', N'MH', CAST(400001 AS Decimal(18, 0)))
INSERT [dbo].[customers_backup] ([customer_id], [first_name], [last_name], [phone], [email], [street], [city], [state], [zip_code]) VALUES (3, N'Priya', N'Singh', N'9988776655', N'priya@gmail.com', N'Civil Lines', N'Delhi', N'DL', CAST(110001 AS Decimal(18, 0)))
GO
INSERT [dbo].[order_items] ([order_id], [item_id], [product_id], [quality], [list_price], [discount]) VALUES (101, 1, 201, 2, CAST(500.000 AS Decimal(18, 3)), CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[order_items] ([order_id], [item_id], [product_id], [quality], [list_price], [discount]) VALUES (102, 1, 202, 1, CAST(1200.000 AS Decimal(18, 3)), CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[order_items] ([order_id], [item_id], [product_id], [quality], [list_price], [discount]) VALUES (103, 1, 203, 3, CAST(300.000 AS Decimal(18, 3)), CAST(0 AS Decimal(18, 0)))
GO
INSERT [dbo].[orders] ([order_id], [customer_id], [order_status], [order_date], [required_date], [shipped_date], [store_id], [staff_id]) VALUES (101, 1, N'1', CAST(N'2025-01-01' AS Date), CAST(N'2025-01-05' AS Date), CAST(N'2025-01-03' AS Date), 1, 1)
INSERT [dbo].[orders] ([order_id], [customer_id], [order_status], [order_date], [required_date], [shipped_date], [store_id], [staff_id]) VALUES (102, 2, N'2', CAST(N'2025-01-02' AS Date), CAST(N'2025-01-06' AS Date), CAST(N'2025-01-04' AS Date), 2, 2)
INSERT [dbo].[orders] ([order_id], [customer_id], [order_status], [order_date], [required_date], [shipped_date], [store_id], [staff_id]) VALUES (103, 3, N'1', CAST(N'2025-01-03' AS Date), CAST(N'2025-01-07' AS Date), NULL, 3, 3)
GO
INSERT [dbo].[staffs] ([staff_id], [first_name], [last_name], [email], [phone], [actice], [store_id], [manager_id]) VALUES (1, N'Raj', N'Mehta', N'raj@store.com', N'9000000001', N'0', 5, NULL)
INSERT [dbo].[staffs] ([staff_id], [first_name], [last_name], [email], [phone], [actice], [store_id], [manager_id]) VALUES (2, N'Sneha', N'Roy', N'sneha@store.com', N'9000000002', N'1', 1, 1)
INSERT [dbo].[staffs] ([staff_id], [first_name], [last_name], [email], [phone], [actice], [store_id], [manager_id]) VALUES (3, N'Arjun', N'Kapoor', N'arjun@store.com', N'9000000003', N'1', 2, NULL)
GO
INSERT [dbo].[stores] ([store_id], [store_name], [phone], [email], [street], [city], [state], [ziip_code]) VALUES (1, N'Central Store', N'0331234567', N'central@store.com', N'Main Road', N'Kolkata', N'WB', N'700001')
INSERT [dbo].[stores] ([store_id], [store_name], [phone], [email], [street], [city], [state], [ziip_code]) VALUES (2, N'West Store', N'0221234567', N'west@store.com', N'Andheri', N'Mumbai', N'MH', N'400053')
INSERT [dbo].[stores] ([store_id], [store_name], [phone], [email], [street], [city], [state], [ziip_code]) VALUES (3, N'North Store', N'0111234567', N'north@store.com', N'Connaught Place', N'Delhi', N'DL', N'110001')
GO
ALTER TABLE [dbo].[staffs]  WITH CHECK ADD  CONSTRAINT [FK_staffs_staffs] FOREIGN KEY([manager_id])
REFERENCES [dbo].[staffs] ([staff_id])
GO
ALTER TABLE [dbo].[staffs] CHECK CONSTRAINT [FK_staffs_staffs]
GO
/****** Object:  StoredProcedure [dbo].[GETCUSTOMERBYNAMECITY]    Script Date: 1/22/2026 3:37:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GETCUSTOMERBYNAMECITY]
@NAME VARCHAR(50),
@CITY VARCHAR(50)
AS
BEGIN
SELECT * FROM customers
WHERE first_name = @NAME AND city= @CITY
END
GO
/****** Object:  StoredProcedure [dbo].[GetName]    Script Date: 1/22/2026 3:37:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetName]
    @CustomerId INT
AS
BEGIN
    SELECT first_name, last_name
    FROM customers
    WHERE customer_id = @CustomerId;
END
GO
/****** Object:  StoredProcedure [dbo].[MyPractice]    Script Date: 1/22/2026 3:37:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MyPractice]
    @City VARCHAR(50),
    @State VARCHAR(50)
AS
BEGIN
    SELECT *
    FROM db2.customers
    WHERE city = @City
      AND state = @State;
END
GO
/****** Object:  StoredProcedure [dbo].[PrintStaff]    Script Date: 1/22/2026 3:37:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create procedure [dbo].[PrintStaff]
AS
BEGIN
    select * from [dbo].[staffs];
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateStore]    Script Date: 1/22/2026 3:37:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[UpdateStore]
AS
BEGIN
    update [dbo].[staffs]
    set store_id=5, actice=0
    where staff_id=1;
END
GO
USE [master]
GO
